<div class="container">
  <h3 mat-dialog-title>Add Expense</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">


    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Title" [(ngModel)]="data.title" name="title"
          required></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate type="number" class="form-control" placeholder="Expense" [(ngModel)]="data.expense"
          name="expense" required>
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Category" [(ngModel)]="data.category" name="category" required>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput [matDatepicker]="picker1" [min]="minDate" [max]="tomorrow" placeholder="Date"
          [(ngModel)]="data.budget_date" name="budget_date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>

    <!--Added A11y tabindex for keyboard accessible  -->
    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1"
        (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="0">Cancel</button>
    </div>
  </form>
</div>
